{% extends "templates/base.html" %}
{% load static %}

{% block content %}
<div
  class="hero page-inner overlay"
  style="background-image: url('images/hero_bg_1.jpg')"
  >
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">Your shopping cart</h1>

        <nav
          aria-label="breadcrumb"
          data-aos="fade-up"
          data-aos-delay="200"
          > 
          <ol class="breadcrumb text-center justify-content-center">
            <li class="breadcrumb-item"><a href="../">Home</a></li>
            <li
              class="breadcrumb-item active text-white-50"
              aria-current="page"
              >
              
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
            <h1>Your shopping cart</h1>
        <table class="cart">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Remove</th>
              <th>Unit price</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart %}
              {% comment %} {% with product=item.product %} {% endcomment %}
                <tr>
                  <td>
                    <a href="{{ item.get_absolute_url }}">
                      <img src="{{ item.image_url }}">
                      {% comment %} {% else %}{% static "img/no_image.png" %}{% endif %}"> {% endcomment %}
                    </a>
                  </td>
                  <td>{{ item.name }}</td>
                  <td>
                    <form action="{% url "cart:cart_add" item.id %}" method="post">
                      {{ item.update_quantity_form.quantity }}
                      {{ item.update_quantity_form.override }}
                      <input type="submit" value="Update">
                      {% csrf_token %}
                    </form>
                  </td>
                  <td>
                    <form action="{% url "cart:cart_remove" item.id %}" method="post">
                      <input type="submit" value="Remove">
                      {% csrf_token %}
                    </form>
                  </td>
                  <td class="price">${{ item.price }}</td>
                  <td class="price">${{ item.total_price }}</td>
                </tr>
              {% comment %} {% endwith %} {% endcomment %}
            {% endfor %}
            <tr class="total">
              <td>Total</td>
              <td colspan="4"></td>
              <td class="num">${{ cart.get_total_price }}</td>
            </tr>
          </tbody>
        </table>
        <p class="text-right">
          <a href="{% url "store:product_list" %}" class="button
          light">Continue shopping</a>
          <a href="{% url "orders:order_create" %}" class="button">
            Checkout
          </a>
        </p>   
    </div>
  </div>
</div>

  
{% endblock %}
