{% extends "templates/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
<style>
  .form{
    width: 600px;
    height: 44px;
    border: 2px solid #4569ff;
    border-radius: 10px;
    overflow: hidden;
  }
</style>
{% block content %}
<div
  class="hero page-inner overlay"
  style="background-image: url('/../static/bootstrap5/images/hero_bg_1.jpg')"
  >
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">Checking out?</h1>

        <nav
          aria-label="breadcrumb"
          data-aos="fade-up"
          data-aos-delay="200"
          > 
          <ol class="">
            <li class=""><a href="/../../">Home</a></li>
            <li
              class="breadcrumb-item active text-white-50"
              aria-current="page"
              >
              
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container" style="margin:0px auto">
    <h1>Checkout</h1>
    <div class="order-info">
      <h3>Your order</h3>
      <ul>
        {% for item in cart %}
          <li>
            {{ item.quantity }}x {{ item.name }}
            <span>${{ item.total_price }}</span>
          </li>
        {% endfor %}
      </ul>
      <p>Total: ${{ cart.get_total_price }}</p>
    </div>
    <div class=".form" >
      <form method="post">
        {{ form|crispy}}
        <p><input type="submit" value="Place order" ></p>
        {% csrf_token %}
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script>  
  
{% endblock %}

