{% extends "templates/base.html" %}
{% load static%}
{% block content %}
<div
  class="hero page-inner overlay"
  style="background-image: url('images/hero_bg_1.jpg')"
  >
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">{{ product.name }}</h1>

        <nav
          aria-label="breadcrumb"
          data-aos="fade-up"
          data-aos-delay="200"
          > 
          <ol class="breadcrumb text-center justify-content-center">
            <li class="breadcrumb-item"><a href='./../'>Home</a></li>
            <li
              class="breadcrumb-item active text-white-50"
              aria-current="page"
              >
              {{ product.restaurant }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="property-item mb-30">
        <a href="product.get_absolute_url" class="img">
          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="Image" class="img-fluid" />
        </a>
        <div class="property-content">
          <div class="price mb-2"><span>{{ product.name }}</span></div>
          <div class="price mb-2"><span><a href="{{ product.get_absolute_url }}">
            {{ product.restaurant }}
          </a></span></div>
          <div>
            <span class="d-block mb-2 text-black-50"
              > ${{ product.price }}</span
            >
          </div>
        </div>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Add to cart">
        </form>    
        {{ product.description|linebreaks }}
      </div>   
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script>  


{% endblock %}