{% extends "templates/base.html" %}
<!DOCTYPE html>
{% block content %}



<div class="hero">
  <div class="hero-slide">
    <div
      class="img overlay"
      style="background-image: url('/static/bootstrap5/images/hero_bg_3.jpg')"
    ></div>
    <div
      class="img overlay"
      style="background-image: url('/static/bootstrap5/images/hero_bg_2.jpg')"
    ></div>
    <div
      class="img overlay"
      style="background-image: url('/static/bootstrap5/images/hero_bg_1.jpg')"
    ></div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center">
        <h1 class="heading" data-aos="fade-up">
          Easiest way to find what to eat
        </h1>
        <form
          action="{% url 'store:store_dosearch' %}"
          method="post" 
          class="narrow-w form-search d-flex align-items-stretch mb-3"
          data-aos="fade-up"
          data-aos-delay="200"
        >{% csrf_token %}
          <input
            type="text"
            name="search"
            class="form-control px-4"
            placeholder="Enter food type or name or restaurants e.g. cafe"
          />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="font-weight-bold text-primary heading">
          Restaurants
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="section section-properties">
<div class="container">
  <div class="row">
  {%for l in result%}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a class="img">
            <img src="{{l.image.url}}"{{l.image}} alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>{{l.name}}</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >{{l.address}}</span
              >
              <span class="city d-block mb-3">{{l.address}}</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  {% comment %} <span class="icon-bed me-2"></span> {% endcomment %}
                  {% comment %} <span class="caption">{{l.get_absolute_url}}</span> {% endcomment %}
                </span>
                <span class="d-block d-flex align-items-center">
                  {% comment %} <span class="icon-bath me-2"></span> {% endcomment %}
                  {% comment %} <span class="caption">2 baths</span> {% endcomment %}
                </span>
              </div>
              
              <a
                href="{{l.get_absolute_url}}"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
      
      </div>
    {% comment %} <div class="row align-items-center py-5">
      <div class="col-lg-3">Pagination (1 of 10)</div>
      <div class="col-lg-6 text-center">
        <div class="custom-pagination">
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
      </div> {% endcomment %}

  {%endfor%}
  </div>
</div>

</div>



<!-- /.site-footer -->

<!-- Preloader -->
{% comment %} <div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> {% endcomment %}

<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script> 




{% endblock %}

