{% extends "templates/base.html" %}
<!DOCTYPE html>
{% block content %}

<div class="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center">
        <h1 class="heading" data-aos="fade-up">
          Easiest way to find what to eat
        </h1>
        <form
          action="{% url 'store:store_dosearch' %}"
          method="post" 
          class="narrow-w form-search d-flex align-items-stretch mb-3"
          data-aos="fade-up"
          data-aos-delay="200"
        >{% csrf_token %}
          <input
            type="text"
            name="search"
            class="form-control px-4"
            placeholder="Enter food type or name or restaurants e.g. cafe"
          />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="font-weight-bold text-primary heading">
          {{restaurant.name}}
          <p>{{restaurant.address}}</p>
          <p>{{restaurant.description}}</p>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      {% for p in product %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="{{p.get_absolute_url}}" class="img">
            <img src=" {{ p.image.url }} " alt="Image" class="img-fluid" />
          </a>
          <div class="property-content">
            <div class="price mb-2"><span>{{ p.restaurant }}</span></div>
            <div class="price mb-2"><span><a href="{{ p.get_absolute_url }}">
              {{ p.name }}
            </a></span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                > ${{ p.price }}</span
              >
            </div>
          </div>
          <form action="{% url "cart:cart_add" p.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
          </form>    
          {{ p.description|linebreaks }}
        </div>   
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script>

{% endblock %}

