{% extends "templates/base.html" %}
<!DOCTYPE html>
{% block content %}





<div class="hero">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center">
        <h1 class="heading" data-aos="fade-up">
          Easiest way to find what to eat
        </h1>
        <form
          action="{% url 'store:store_dosearch' %}"
          method="post" 
          class="narrow-w form-search d-flex align-items-stretch mb-3"
          data-aos="fade-up"
          data-aos-delay="200"
        >{% csrf_token %}
          <input
            type="text"
            name="search"
            class="form-control px-4"
            placeholder="Enter food type or name or restaurants e.g. cafe"
          />
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="font-weight-bold text-primary heading">
          Restaurants
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="section section-properties">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="restaurants.image.url" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>{{restaurants.name}}</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >{{restaurants.address}}</span
              >
              <span class="city d-block mb-3">{{restaurants.address}}</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_3.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_4.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_5.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_6.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_7.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_8.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="property-item mb-30">
          <a href="property-single.html" class="img">
            <img src="images/img_1.jpg" alt="Image" class="img-fluid" />
          </a>

          <div class="property-content">
            <div class="price mb-2"><span>$1,291,000</span></div>
            <div>
              <span class="d-block mb-2 text-black-50"
                >5232 California Fake, Ave. 21BC</span
              >
              <span class="city d-block mb-3">California, USA</span>

              <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                  <span class="icon-bed me-2"></span>
                  <span class="caption">2 beds</span>
                </span>
                <span class="d-block d-flex align-items-center">
                  <span class="icon-bath me-2"></span>
                  <span class="caption">2 baths</span>
                </span>
              </div>

              <a
                href="property-single.html"
                class="btn btn-primary py-2 px-3"
                >See details</a
              >
            </div>
          </div>
        </div>
        <!-- .item -->
      </div>
    </div>
    <div class="row align-items-center py-5">
      <div class="col-lg-3">Pagination (1 of 10)</div>
      <div class="col-lg-6 text-center">
        <div class="custom-pagination">
          <a href="#">1</a>
          <a href="#" class="active">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /.site-footer -->

<!-- Preloader -->
{% comment %} <div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> {% endcomment %}

<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script>





  {% comment %} <div>
    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "store:restaurant_list" %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"
        {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="restaurant-list">
    <h1>Restaurant
    </h1>
    {% for r in result %}
      <div class="restaurant">
        <a href="{{ result.get_absolute_url }}">
          <img src="{% if r.image %}{{ r.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ result.get_absolute_url }}">{{ r.name }}</a>
        <a href="{{ result.get_absolute_url }}">{{ r.category }}</a>
        <br>
      
      </div>
    {% endfor %}
    <p>result:{{result}}</p>
  
  </div> {% endcomment %}
{% endblock %}


{% comment %} {% block content %}
  <div id="sidebar">
    <h3>Categories</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "store:restaurant_list" %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"
        {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="restaurant-list">
    <h1>{% if category %}{{ category.name }}{% else %}Restaurant
    {% endif %}</h1>
    {% for restaurant in restaurants %}
      <div class="restaurant">
        <a href="{{ restaurant.get_absolute_url }}">
          <img src="{% if restaurant.image %}{{ restaurant.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.name }}</a>
        <br>
     
      </div>
    {% endfor %}
  </div>
{% endblock %} {% endcomment %}