{% extends 'templates\base.html' %}
<!DOCTYPE html>
{%block content%}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="width: 100%;">
          <a class="navbar-brand" href="">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span style="font-weight:bold;">ConcordiaDoor</span><span style="font-size:14px;">Montreal</span></a>
            <div style="display: flex;flex-direction: row;align-items: center;justify-content: flex-end;">
                <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="" type="button" id="username">{{cuss.username}}</button>
                <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="location='update'" type="button" id="Update">Update</button>
                <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="location='logout'" type="button" id="Logout">Logout</button>
                <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="" type="button" id="contact">Contact Us</button>
            <div class="navbar-brand" href=""></div>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <div class="container">
        </div>
      </div>
        <div class="logo"></div>
        <div class="searchTool">
        <form action="{% url 'store:store_dosearch' %}" method="post" >
        {% csrf_token %}
        <input  type="text" name="search" style="height:50px;margin-top: 50px;margin-bottom: 5px;" class="form-control"  placeholder="Please enter something you want to eat today!">
        <button style=background-color:#5993bb;border-color:#e7e7e7;position: center type="button">Search</button>
        </form>
        </div>
        <div class="lable_marker"></div>
        <script src="bundle.js"></script>
        <div>

<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>

{% endblock %}
