{% extends 'templates\base.html' %}
<!DOCTYPE html>
{%block content%}


<div class="hero">
    {% comment %} This is the slided back ground{% endcomment %}
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('/../static/bootstrap5/images/hero_bg_3.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('/../static/bootstrap5/images/hero_bg_2.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('/../static/bootstrap5/images/hero_bg_1.jpg')"
      ></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
          <h1 class="heading" data-aos="fade-up">
            Easiest way to find what to eat
          </h1>
          <form
            action="{% url 'store:store_dosearch' %}"
            method="post" 
            class="narrow-w form-search d-flex align-items-stretch mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >{% csrf_token %}
            <input
              type="text"
              name="search"
              class="form-control px-4"
              placeholder="Enter food type or name or restaurants e.g. cafe"
            />
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          {% comment %} <button type="submit" class="btn btn-primary" 
            action="{% url 'store:restaurant_list'%}">Restaurants</button> {% endcomment %}
        </div>
      </div>
    </div>
</div>

<div class="section">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-6">
        <h2 class="font-weight-bold text-primary heading">
          Popular Restaurants
        </h2>
      </div>
      <div class="col-lg-6 text-lg-end">
        <p>
          <a
            onclick="window.location.href='store/list'" type="button" id="Restaurant"
            class="btn btn-primary text-white py-3 px-4"
            >View all Restaurants</a
          >
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="property-slider-wrap">
          <div class="property-slider">
              {% for r in res %}
              <div class="property-item">
                <a  class="img">
                  <img src="{{r.image.url}}" alt="Image" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>{{r.category}}</span></div>
                  <div>
                    <span class="d-block mb-2 text-black-50"
                      >{{r.address}}</span
                    >
                    <span class="city d-block mb-3">{{r.name}}</span>

                    <div class="specs d-flex mb-4">
                      <span class="d-block d-flex align-items-center me-3">
                        {% comment %} <span class="caption">Ingrediant</span> {% endcomment %}
                        <span class="caption">{{r.description}}</span>
                      </span>
                    </div>

                    <a
                      href="{{r.get_absolute_url}}"
                      class="btn btn-primary py-2 px-3"
                      >See details</a
                    >
                  </div>
                </div>
              </div>
              <!-- .item -->
              {% endfor %}

          </div>

          <div
            id="property-nav"
            class="controls"
            tabindex="0"
            aria-label="Carousel Navigation"
          >
            <span
              class="prev"
              data-controls="prev"
              aria-controls="property"
              tabindex="-1"
              >Prev</span
            >
            <span
              class="next"
              data-controls="next"
              aria-controls="property"
              tabindex="-1"
              >Next</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Preloader -->
{% comment %} <div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div> {% endcomment %}

<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script> 

<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script>  



{%endblock%}




