{% extends 'templates\base.html' %}
<!DOCTYPE html>
{%block content%}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="width: 100%;">
         {% comment %} <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  {% endcomment %}
          <a class="navbar-brand" href="">

            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span style="font-weight:bold;">ConcordiaDoor</span><span style="font-size:14px;">Montreal</span></a>
            <div style="display: flex;flex-direction: row;align-items: center;justify-content: flex-end;">
            {% comment %} {% if request.session.cuss.username == 'null' %} {% endcomment %}
             <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="window.location.href='Customer'" type="button" id="Register">Register</button>
             <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="window.location.href='Customer/login'" type="button" id="login">Login</button>
             <button style=background-color:#5993bb;border-color:#e7e7e7 onclick="" type="button" id="contact">Contact Us</button>
            {% comment %} {% else %}
             <span>{{request.session.cuss.username}}</span
             <button onclick="window.location.href='Customer/update'" type="button" id="Update">Update</button>
             <button onclick="" type="button" id="contact">Contact Us</button> 
            {% endif %}  {% endcomment %}
            <div class="navbar-brand" href=""></div>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="container">
        <div class="logo"></div>
        <div class="searchTool">
        <input>
        <button style=background-color:#5993bb;border-color:#e7e7e7;position: center onclick="href='www.google.com'" type="button" id="Search">Search</button>
        </div>
        <div class="lable_marker"></div>
        <script src="bundle.js"></script>
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>

{%endblock%}


