{% extends 'templates\base.html' %}
<!DOCTYPE html>
{%block content%}


<div  class="hero page-inner overlay" style="background-image: url('/static/bootstrap5/images/hero_bg_1.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">Update</h1>
        <div class="container" >
          <div >
            <div  style="margin-top:10px;">
              <div >
                  <div class="main-div" style="box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);border-radius: 20px;">
                      <div class="panel">
                          {% comment %} <h2 style="font-size:26px;">Registration</h2> {% endcomment %}
                      </div>

                      {% if c.nickname %}
                      <form action="" method="post">
                       
                          <b> Nickname : {{c.nickname}}</b>
                          <b> Email : {{c.email}}</b>
                          <input type="text" name="phoneNo" style="height: 50px; margin-bottom: 5px;" class="form-control"  placeholder="Phone">
                          <input type="text" name="address" style="height: 50px; margin-bottom: 5px;" class="form-control"  placeholder="Address">
                          <input type="birthdate" name="birthdate" style="height: 50px; margin-bottom: 5px;" class="form-control"  placeholder="DOB YYYY-MM-DD">
                          <button type="submit" style="height:50px; margin-top:30px;width: 100%;" class="btn btn-primary">submit</button>
                      </form>
                      {% else %}
                      <form action="" method="post">
                        
                          <b> username : {{cus}}</b>
                          <button type="submit" style="height:50px; margin-top:30px;width: 100%;" class="btn btn-primary">submit</button>
                      </form>
                      {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  {% for msg in messages %}
      alert('{{ msg.message }}');
  {% endfor %}
</script>



<script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
<script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script> 


{% endblock %}


 
      
      {% comment %} <script src="{% static 'web/js/jquery.min.js' %}"></script>
      <script src="{% static 'web/js/bootstrap.min.js' %}"></script> {% endcomment %}
   
  <!-- Page body end -->
{% comment %} 
  <script src="{% static 'web/js/jquery.min.js' %}"></script>
  <script src="{% static 'web/js/bootstrap.min.js' %}"></script> {% endcomment %}
  



