{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Untree.co" />
        <link rel="shortcut icon" href="/static/bootstrap5/favicon.png" />
        <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet"
        />

        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap5" /> 
        <link rel="stylesheet" type="text/css" href="/static/fonts/icomoon/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/fonts/flaticon/font/flaticon.css" /> 

        {% comment %} <link rel="stylesheet" type="text/css" href='static/bootstrap5/css/bootstrap-grid.css'> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap-reboot.css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap-utilities.css">  {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/tiny-slider.css" />
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/aos.css" /> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/style.css" /> 



        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com" /> {% endcomment %}
        {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> {% endcomment %}
        <script type="text/javascript" src="/static/bootstrap5/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap5/js/tiny-slider.js"></script>
        <script type="text/javascript" src="/static/bootstrap5/js/aos.js"></script>
        <script type="text/javascript" src="/static/bootstrap5/js/navbar.js"></script>
        <script type="text/javascript" src="/static/bootstrap5/js/counter.js"></script>
        <script type="text/javascript" src="/static/bootstrap5/js/custom.js"></script> 
        

    </head>
    <body>
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
              <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
              </div>
            </div>
            <div class="site-mobile-menu-body"></div>
          </div>
          
          <nav class="site-nav">
            <div class="container">
              <div class="menu-bg-wrap">
                <div class="site-navigation">
                  <a href="/" class="logo m-0 float-start">ConcordiaDoor</a>

                {% if cus %}
                  <ul
                  class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
                  >
                  <li class="active"><a href="/../">Home</a></li>
                  <li class="has-children">
                      <a >{{cus}}</a>
                      <ul class="dropdown">
                          <li><a onclick="window.location.href='/Customer/listinfo'" type="button" id="Myprofile">Myprofile</a></li>
                          <li><a onclick="window.location.href='/Customer/update'" type="button" id="Update">Update</a></li>
                          <li><a onclick="window.location.href='/Customer/logout'" type="button" id="Logout">Logout</a></li>
                          {% with total_items=cart|length %}
                          {% if total_items > 0 %}
                            <a>Your cart:</a>
                            <a href="{% url "cart:cart_detail" %}">
                              {{ total_items }} item{{ total_items|pluralize }},
                              ${{ cart.get_total_price }}
                            </a>
                          {% else %}
                            Your cart is empty.
                          {% endif %}
                        {% endwith %}
                      </ul>

                  </li>
                  <li><a onclick="window.location.href='../store/list'" type="button" id="Restaurant">Restaurants</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                  
                {% else %}
                  <ul
                  class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
                  >
                  <li class="active"><a href="/">Home</a></li>
                  <li class="has-children">
                    <a >Customer</a>
                    <ul class="dropdown">
                      <li><a onclick="window.location.href='/Customer/login'" type="button" id="Login">Login</a></li>
                      <li><a onclick="window.location.href='/Customer'" type="button" id="Register">Register</a></li>
                      <li class="has-children">
                        <div class="dropdown">
                      </div></li>
                    </ul>
                  </li>
                  <li><a onclick="window.location.href='/store/list'" type="button" id="Restaurant">Restaurants</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  </ul>
                {% endif %}

                  <a
                    href="#"
                    class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                    data-toggle="collapse"
                    data-target="#main-navbar"
                  >
                    <span></span>
                  </a>
                </div>
              </div>
            </div>
          </nav>

        {%block content%}
        {%endblock%}
        <div class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="widget">
                  <h3>Contact</h3>
                  <address>Somewhere in Montreal Quebec Canada </address>
                  <ul class="list-unstyled links">
                    <li><a href="tel://11234567890">+1(110)-110-1110</a></li>
                    <li><a href="tel://11234567890">+1(110)-110-1110</a></li>
                    <li>
                      <a href="mailto:info@mydomain.com">info@ConcordiaDoor.com</a>
                    </li>
                  </ul>
                </div>
                <!-- /.widget -->
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="widget">
                  <h3>Sources</h3>
                  <ul class="list-unstyled float-start links">
                    <li><a href="#">About us</a></li>
                    {% comment %} <li><a href="#">Services</a></li> {% endcomment %}
                    {% comment %} <li><a href="#">Vision</a></li> {% endcomment %}
                    {% comment %} <li><a href="#">Mission</a></li> {% endcomment %}
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li>
                  </ul>
                  <!-- <ul class="list-unstyled float-start links">
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Creative</a></li>
                  </ul> -->
                </div>
                <!-- /.widget -->
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="widget">
                  <h3>Links</h3>
                  <ul class="list-unstyled links">
                    <li><a href="#">Our Vision</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                  </ul>
        
                  <ul class="list-unstyled social">
                    <li>
                      <a href="#"><span class="icon-instagram"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon-twitter"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon-facebook"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon-linkedin"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon-pinterest"></span></a>
                    </li>
                    <li>
                      <a href="#"><span class="icon-dribbble"></span></a>
                    </li>
                  </ul>
                </div>
                <!-- /.widget -->
              </div>
              <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        
            <div class="row mt-5">
              <div class="col-12 text-center">
                <!-- 
                  **==========
                  NOTE: 
                  Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
                  **==========
                -->
        
                <p>
                  Copyright &copy;
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  . All Rights Reserved. &mdash; Designed with love by
                  <a href="https://untree.co">Untree.co</a>
                  <!-- License information: https://untree.co/license/ -->
                </p>
                <div>
                  Distributed by
                  <a href="https://themewagon.com/" target="_blank">themewagon</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container -->
        </div>
    </div>
    </body>



</html>
