{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Untree.co" />
        <link rel="shortcut icon" href="/static/bootstrap5/favicon.png" />
        <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet"
        />

        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap5" /> 
        <link rel="stylesheet" type="text/css" href="/static/fonts/icomoon/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/fonts/flaticon/font/flaticon.css" /> 

        {% comment %} <link rel="stylesheet" type="text/css" href='static/bootstrap5/css/bootstrap-grid.css'> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap-reboot.css"> {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap-utilities.css">  {% endcomment %}
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/bootstrap.css"> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/tiny-slider.css" />
        {% comment %} <link rel="stylesheet" type="text/css" href="static/bootstrap5/css/aos.css" /> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="/static/bootstrap5/css/style.css" /> 



        {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com" /> {% endcomment %}
        {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> {% endcomment %}


    </head>
    <body>
    <div>
        {%block content%}
        {%endblock%}
    </div>
    </body>



</html>
